<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Welcome to Customer Home page</h1>
	<div class="message">
		<h3 th:text="${session.fail}"></h3>
		<h4 th:text="${session.pass}"></h4>
		<th:block th:text="${@myService.removeMessage()}"></th:block>
	</div>


	<div align="center">
		<a href="/view-products"><button>View All Products</button></a>
		<br>
		<br>
		<a href="/view-cart"><button>View Cart</button></a>
		<br>
		<br>
		<a href="/view-orders"><button>View Past Orders</button></a>
		<br>
		<br>
		<a href="/logout"><button>Logout</button></a>
		<br>
		<br>
	</div>
</body>
</html>